<h3>Welcome to Blackjack, <%= session[:player_name] %>!</h4>
<div class="well">
  <h4>Player Cards:</h4> 
  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
</div>

<div class="well">
  <h4>Dealer Cards:</h4>
  <% session[:dealer_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
</div>

<p>
  What would you like to do?<br>
  <%=session[:player_name] %> has a total of <%= calculate_total(session[:player_cards]) %>.
</p>

<% if @show_hit_or_stay_buttons %>
  <form id='hit_form' action='/game/player/hit' method='post'>
    <input type='submit' class='btn btn-success' value='Hit'>
  </form>

  <form id='stay_form' action='/game/player/stay' method='post'>
    <input type='submit' class='btn btn-warning' value='Stay'>
  </form>
<% end %>