<div id='game'>

<div class="container">
<%if @loser %>
  <div class="alert alert-error"><%=@loser%></div>
<% end %>
<%if @winner %>
  <div class="alert alert-success"><%=@winner%></div>
<% end %>
</div>

<h1>Blackjack!</h1>

<div class="well" id="dealer_cards">
  <h4>Dealer Cards:</h4>

  <% if session[:turn] == 'dealer' %>
    <% session[:dealer_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
    <p>
    <h5>Dealer has a total of <%= calculate_total(session[:dealer_cards]) %>.</h5>
    </p>
  <% else %>

  <%= card_image(session[:dealer_cards][0]) %>
  <img src='/images/cards/cover.jpg' class='card'>

  <% end %>

  <% if @show_dealer_hit_button %>
    <p>
      <form id='dealer_hit_form' action='/game/dealer/hit' method='post'>
        <input type='submit' class='btn btn-primary' value="Click to see Dealer's next card">
      </form>
    </p>
  <% end %>

</div>

<div class="well" id="player_cards">
  <h4>Player Cards:</h4> 
  <% session[:player_cards].each do |card| %>
    <%= card_image(card) %>
  <% end %>
    <h5><%=session[:player_name] %> has a total of <%= calculate_total(session[:player_cards]) %>.</h5>
    <h5><%=session[:player_name] %> has $<%=session[:player_money] %> and bet $<%=session[:bet] %> this round.</h5>
</div>


<% if @show_hit_or_stay_buttons %>
  <p>
    What would you like to do?<br>
  </p>
  <form id='hit_form' action='/game/player/hit' method='post'>
    <input type='submit' class='btn btn-success' value='Hit'>
  </form>

  <form id='stay_form' action='/game/player/stay' method='post'>
    <input type='submit' class='btn btn-warning' value='Stay'>
  </form>
<% end %>

</div>